:root {
  --primary-dark: #333333;
  --primary-light: #ededed;
  --secondary-light: #fefefe;
}

* {
  margin: 0;
  padding: 0;
  bottom: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  position: relative;
  min-height: 100%;
}


.fa-github {
  color: var(--primary-dark);
  transition-property: transform;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(130%);
}
