:root {
  --background: #f6f6f6;
  --font: #222;
  --border: #333;
  --display: #eee;
  --calculator: #aaa;

  --btn: #eee;
  --btn-hover: #ddd;
  --btn-active: #ccc;

  --btn-red: #faa;
  --btn-red-hover: #e99;
  --btn-red-active: #d88;

  --btn-blue: #aaf;
  --btn-blue-hover: #99e;
  --btn-blue-active: #88d;
}

* {
  margin: 0;
  padding: 0;
  bottom: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  /* footer support */
  position: relative;
  min-height: 100%;
}

body {
  background-color: var(--background);
  color: var(--font);
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  /* footer support */
  margin-bottom: 100px;
}

button {
  cursor: pointer;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 50px;
  height: 75vh;
  min-height: 500px;
}

.calculator {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  background-color: var(--calculator);
  max-width: 400px;
  min-width: 400px;
  padding: 20px;
  border: 2px solid var(--border);
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.display {
  background-color: var(--display);
  text-align: right;
  padding: 10px 20px;
  border: 2px solid var(--border);
  border-radius: 5px;
  margin-bottom: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.display-last {
  min-height: 32px;
  font-size: 20px;
}

.display-current {
  min-height: 64px;
  font-size: 40px;
}

.buttons_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.btn {
  /* flex-grow: 1;
  flex-shrink: 0; */
  flex-basis: 12%;

  padding: 20px;
  border: 2px solid var(--border);
  border-radius: 5px;
  background-color: var(--btn);
  font-size: 20px;
}

.btn:hover {
  background-color: var(--btn-hover);
}

.btn:active {
  background-color: var(--btn-active);
}

.btn-red,
.btn-blue {
  padding: 20px 0;
  font-size: 20px;
  flex: 1 0 calc(49% - 5px);
}

.btn-red {
  background-color: var(--btn-red);
}

.btn-red:hover {
  background-color: var(--btn-red-hover);
}

.btn-red:active {
  background-color: var(--btn-red-active);
}

.btn-blue {
  background-color: var(--btn-blue);
}

.btn-blue:hover {
  background-color: var(--btn-blue-hover);
}

.btn-blue:active {
  background-color: var(--btn-blue-active);
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  font-size: 20px;
  padding-bottom: 10px;
}

.fa-github {
  color: var(--font);
  transition-property: transform;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(130%);
}
